<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!--Vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
<div class="dialog">
    <div class="loginPage">
        <h1>登录</h1>
        <el-form>
            <el-form-item label="user">
                <el-input type="text" id="user" v-model="formName.user"
                          @blur="inputBlur('user',formName.user)"></el-input>
                <p>{{formName.userError}}</p>
            </el-form-item>
            <el-form-item label="password">
                <el-input type="password" id="password" v-model="formName.password"
                          @blur="inputBlur('password',formName.password)"></el-input>
                <p>{{formName.passwordError}}</p>
            </el-form-item>
            <el-button type="primary" @click="submitForm('formName')" v-bind:disabled="formName.beDisabled">提交
            </el-button>
            <el-button @click="resetForm">重置</el-button>
        </el-form>
    </div>
</div>
</body>
</html>