<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Vue</title>

    <script src="./js/document_ready.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <script type="text/javascript">
        //refer:http://vgot.net/?A65.htm
        //        document.ready(function () {
        //            alert('Document is ready!');
        //            new Vue({
        //                el: '#app',
        //                data: {
        //                    message: 'Hello Vue.js'
        //                }
        //            });
        //        });

    </script>

</head>
<body>

<div id="app">1.
    {{ message }}

</div>

<br/>

<div id="app2">
    <span v-bind:title="message">2.鼠标悬停几秒查看此处绑定的动态信息</span>

</div>


<br/>

<div id="app3">
    <p v-if="seen">3.现在你看到我了</p>
</div>

<br/>


<div id="app4">
    4.
    <ol>
        <li v-for="todo in todos">
            4.{{ todo.text }}
        </li>
    </ol>
</div>


<br/>

<div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">逆转消息</button>
</div>


<br/>

<div id="app-6">
    <p>6.表单输入(双向绑定)<br/>{{ message }}</p>
    <input v-model="message">
</div>

<!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->

<script>
    //声明式渲染
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello World'
        }

    });

    //响应式，数据和DOM建立关联
    var app2 = new Vue(
        {
            el: '#app2',
            data: {
                message: '页面加载于' + new Date().toLocaleDateString()
            }
        });


    //条件与循环
    var app3 = new Vue({
        el: '#app3',
        data: {
            seen: false
        }
    });

    var app4 = new Vue({
        el: '#app4',
        data: {

            todos: [
                {text: '学习JavaScript'},
                {text: '学习Vue'},
                {text: '牛'}
            ]
        }

    });


    //处理用户输入
    var app5 = new Vue({
        el: '#app-5',
        data: {
            message: '5.<br/>Hello Vue.js!'
        },
        methods: {
            reverseMessage: function () {
                //逆序
                this.message = this.message.split('').reverse().join('')
            }
        }
    });

    var app6 = new Vue({
        el: '#app-6',
        data: {
            message: 'Hello Vue!'
        }
    });



</script>
</body>
</html>